albumentations
blis
brotlipy
cachetools
chumpy
coloredlogs
contourpy
cycler
cython
easydict
face-alignment
falcon
falcon-multipart
flatbuffers
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gunicorn
httplib2
humanfriendly
imageio
insightface
joblib
kiwisolver
llvmlite
loguru
matplotlib
mpmath
networkx
numba
oauth2client
onnx
onnxruntime
opencv-python
opencv-python-headless
packaging
prettytable
protobuf
pyasn1
pyasn1-modules
pydrive2
pyparsing
python-datauri
python-dateutil
pywavelets
pyyaml
qudida
rsa
scikit-image
scikit-learn
scipy
sympy
threadpoolctl
tifffile
tqdm
trimesh
uritemplate
wcwidth
yacs

# pip install "git+https://github.com/facebookresearch/pytorch3d.git"