albumentations
blis
brotlipy
cachetools
chumpy
coloredlogs
contourpy
cycler
cython
easydict
face-alignment
falcon
falcon-multipart
flatbuffers
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gunicorn
httplib2
humanfriendly
imageio
insightface
joblib
kiwisolver
llvmlite
loguru
matplotlib
mpmath
networkx
numba
oauth2client
onnx
onnxruntime
opencv-python
opencv-python-headless
packaging
prettytable
protobuf
pyasn1
pyasn1-modules
pydrive2
pyparsing
python-datauri
python-dateutil
pywavelets
pyyaml
qudida
rsa
scikit-image
scikit-learn
scipy
sympy
tensorboardX
threadpoolctl
tifffile
tqdm
trimesh
uritemplate
wcwidth
yacs
omegaconf
lpips
einops
timm
pyiqa

# pip install "git+https://github.com/facebookresearch/pytorch3d.git"

# pip install torch==1.13.0+cu116 torchvision==0.14.0+cu116 torchaudio==0.13.0 -f https://download.pytorch.org/whl/torch_stable.html
# pip install pytorch3d==0.7.2 -f https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu116_pyt1130/download.html
